.Button{
  display: inline;
  background: rgba(101, 220, 199, 0.8);
  border-radius: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: rgba(2, 2, 2, 0.7);
  padding: 10px 50px;
}
